body, ul, li {
	padding: 0;
	margin: 0;
}

#wrapper {
	overflow: hidden;
	width: 1200px;
	margin: auto;
}

#pic {
	width: 1200px;
	height: 755px;
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 0;
	background-color: #4C4863;
	z-index: 1;
}

#house {
	position: absolute;
	width: 600px;
	height: 400px;
	align-self: flex-end;
	background: linear-gradient(to bottom, #2C2546 20px, #383152 3px);
	background-size: 600px 23px;
	border-right: 15px solid #383152;
	border-left: 15px solid #383152;
	box-sizing: border-box;
}

#roofcolor1 {
	position: relative;
	background: #75679A;
	width: 380px;
	height: 150px;
	transform: skew(30deg);
	top: 205px;
	left: 370px; 
}

#roofcolor1:before, #roofcolor1:after{
	content: "";
	position: relative;
	display: block;
}

#roofcolor1:before{
	width: 300px;
	height: 8px;
	border-radius: 5px;
	background: #564D7A;
	transform: skew(-30deg);
	left: 90px;
	bottom: -142px;
}

#roofcolor2:after{
	width: 488px;
	height: 6px;
	background: #564D7A;
	bottom: 70px;
	right: 2px;
	transform: skew(30deg);
}

#roofcolor2 {
	position: relative;
	background: #75679A;
	width: 380px;
	height: 150px;
	transform: skew(-30deg);
	top: 205px;
	left: -200px;
}

#roofcolor2:before, #roofcolor2:after {
	content: "";
	position: relative;
	display: block;
}

#roofcolor2:before{
	width: 300px;
	height: 8px;
	border-radius: 5px;
	background: #564D7A;
	transform: skew(30deg);
	right: 10px;
	bottom: -142px;
}

.attic {
	height: 60px;
	width: 50px;
	position: relative;
	background: #2E234B;
}

.attic:before, .attic:after{
	content: "";
	position: relative;
	display: block;
}

.attic:before {
	border: 30px solid transparent; 
	border-bottom: 30px solid #564F7B;
	top: -60px;
	right: 5px;
}

.atticwindow {
	border: 4px solid #564F7B;
	background: black;
	height: 50px;
	width: 40px;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -54px;
	overflow: hidden;
}

#ghost2 {
	z-index: 1;
	position: relative;
	top: 10px;
	opacity: 0;
	animation: ghost2anim 30s infinite linear;
}

@keyframes ghost2anim {
	10%{opacity: 0.1}
	20%{opacity: 0.2}
	30%{opacity: 0.3}
	40%{opacity: 0.4}
	50%{opacity: 0.5}
	60%{opacity: 0.4}
	70%{opacity: 0.3}
	80%{opacity: 0.2}
	90%{opacity: 0.1}
	100%{opacity: 0}
}

.atticwindow:before, .atticwindow:after{
	content: "";
	position: relative;
	display: block;
	z-index: 2;
}

.atticwindow:before{
	height: 4px;
	width: 40px;
	background: #564F7B;
	top: 19px;
	right: 2px;
}

.atticwindow:after{
	height: 100px;
	width: 4px;
	background: #564F7B;
	left: 14px;
	bottom: 35px;
}

#tower {
	position: relative;
	width: 150px;
	height: 595px;
	border-right: 10px solid #383152;
	border-left: 10px solid #383152;
	background: linear-gradient(to bottom, #2C2546 20px, #383152 3px);
	background-size: 150px 23px;
	left: -380px;
	top: 160px;
	z-index: 3;
}

#towerroof1 {
	position: relative;
	background: #75679A;
	width: 100px;
	height: 120px;
	top: -120px;
	left: 50px;
	transform: skew(20deg);
}
#towerroof2 {
	position: relative;
	background: #75679A;
	width: 100px;
	height: 120px;
	top: -240px;
	transform: skew(-20deg);
}

#towerroof2:before, #towerroof2:after {
	content: "";
	position: relative;
	display: block;
}

#towerroof2:before {
	width: 205px;
	height: 8px;
	background: #564D7A;
	border-radius: 10px;
	transform: skew(20deg);
	top: 118px;
	right: 5px;
}

#towerroof2:after {
	width: 115px;
	height: 6px;
	background: #57516B;
	border-radius: 5px;
	bottom: 70px;
	right: 4px;
	transform: skew(20deg);
}

#towerroof1 ul {
	display: flex;
	justify-content: space-between;
}

#towerroof1 ul li {
	list-style-type: none;
	height: 35px;
	width: 3px;
	background: #212119;
	position: relative;
	bottom: 34px;
	margin-right: px;
	margin-left: 5px;
	transform: skew(-20deg);
}

#towerroof1 ul li:before, #towerroof1 ul li:after {
	content: "";
	position: relative;
	display: block;
}

#towerroof1 ul li:before {
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-bottom: 7px solid #212119;
	position: relative;
	bottom: 9px;
	right: 2.5px;
}

#towerroof1 ul li:after {
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top: 7px solid #212119;
	position: relative;
	bottom: 9px;
	right: 2.5px;
}

#porch {
	background: #544D79;
	position: relative;
	height: 30px;
	width: 670px;
	left: -50px;
	top: 370px;
	z-index: 4;
}

#stairs {
	position: relative;
	left: 275px;
}

#stairs ul li {
	list-style-type: none;
	width: 120px;
	height: 10px;
	background: #787097; 
}

#stairs ul li:nth-child(odd){
	background-color: #AAA5BC;
	height: 5px;
}

#door {
	position: relative;
	height: 120px;
	width: 60px;
	background: #8B7EA9;
	bottom: 65px;
	left: 45px;
	padding: 10px;
	box-sizing: border-box;
}

#door > div {
	border: 5px solid #56507C;
	height: 100px;
}

#door > div:before, #door > div:after {
	content: "";
	position: relative;
	display: block;
}

#door > div:before{
	height: 20px;
	width: 50px;
	border: 3px solid #564F7B;
	background: #FEE96C;
	bottom: 42px;
	right: 13px;
	border-radius: 30px 30px 0px 0px;
}

#door > div:after {
	height: 10px;
	width: 20px;
	background: #564F7B;
	border-radius: 10px 10px 0px 0px;
	bottom: 56px; 
	left: 5px;
}

.fence {
	position: relative;
	height: 50px;
	width: 267px;
	border-top: 7px solid #564F7B;
	border-left: 4px solid #887EA1;
	border-right: 4px solid #887EA1;
	border-bottom: 4px solid #887EA1;
	z-index: 4;
}

.fence:before, .fence:after {
	content: "";
	position: relative;
	display: block;
}

.fence:before {
	height: 15px;
	width: 15px;
	background: #564F7B;
	border-radius: 7.5px;
	bottom: 21px;
	left: -4px;
}

.fence:after {
	height: 15px;
	width: 15px;
	background: #564F7B;
	border-radius: 7.5px;
	bottom: 86px;
	left: 255px;
}

.fence ul {
	display: flex;
	justify-content: space-around;
}

.fence ul li {
	list-style-type: none;
	height: 50px;
	width: 4px;
	background: #887EA1;
	position: relative;
	bottom: 15px;
}

.windows {
	position: relative;
	height: 300px;
	bottom: 150px;
	width: 200px;
}

.window {
	position:relative;
	border: 4px solid #564F7B;
	height: 90px;
	width: 50px;
	margin: 0 auto;
	background: #FEE96C;
	overflow: hidden;
}

@keyframes window1anim {
	20%{background-color: #FEE96C;}
	20.6%{background-color: black;}
	21.1%{background-color: #FEE96C;}
	21.6%{background-color: black;}
	22.1%{background-color: #FEE96C;}
	22.6%{background-color: black;}
	61%{background-color: black;}
	61.1%{background-color: #FEE96C;}
	100%{background-color: #FEE96C;}
}

@keyframes ghostanim {
	25%{top:90px}
	30%{top: 80px}
	33%{top: 70px;}
	36%{top: 65px;}
	44%{top: 65px;}
	50%{top: 65px;}
	57%{top: 65px;}
	59%{top: 65px;}
	59.5%{top: 70px;}
	59.7%{top: 80px;}
	59.9%{top: 90px;}
	
}

.window:before, .window:after {
	content: "";
	position: absolute;
	display: block;
	z-index: 1;
}

.window:before {
	border-top: 4px solid #564F7B;
	border-bottom: 4px solid #564F7B;
	height: 27px;
	width: 50px;
	top: 27px;
}

.window:after{
	border-right: 4px solid #564F7B;
	height: 200px;
	right: 23px;
	bottom: 0px;
}

.ghost {
	display: block;
	height: 30px;
	width: 30px;
	background: white;
	position: relative;
	border-radius: 25px 25px 0px 0px;
}

.ghost:before, .ghost:after{
	content: "";
	position: relative;
	display: block;
}

.ghost:before {
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	background: black;
	top: 10px;
	left: 20px;
}

.ghost:after {
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	background: black;
	top: 5px;
	left: 5px;
}

#ghost1 {
	top: 90px;
	left: 10px;
	animation: ghostanim 30s infinite;
  opacity: 0.5;
}

.pumpkin {
	display: block;
	height: 25px;
	width: 40px;
	background: #E5760D;
	border-radius: 20px;
	position: relative;
}

.pumpkin:before, pumpkin:after {
	content: "";
	position: relative;
	display: block;
}

.pumpkin:before {
	width: 7px;
	height: 4px;
	background: black;
	top: 7px;
	left: 10px;
	border-radius: 0px 3px 0px 3px;
	transform: rotate(10deg);
}

.pumpkin .mouth {
	display: block;
	position: relative;
	width: 12px;
	height: 3px;
	background: black;
	top: 12px;
	left: 14px;
	border-radius: 0px 0px 2px 2px;
}

.pumpkin .eye {
	display: block;
	width: 7px;
	height: 4px;
	background: black;
	position: relative;
	left: 24px;
	border-radius: 3px 0px 3px 0px;
	transform: rotate(-10deg);
}

#pumpkin1 {
	top: 65px;
	left: -5px;
	animation: pumpkin1anim 30s 30s infinite linear;
	opacity: 0.0;
}

@keyframes window2anim {
	0%{background:#FEE96C}
	10%{background: black}
	50%{background: black}
	60%{background: #FEE96C}
}

@keyframes pumpkin1anim {
	0%{opacity: 0.0}
	10%{opacity: 1}
	11%{top: 65px}
	12%{top: 63px}
	13%{top: 65px}
	14%{top: 63px}
	15%{top: 65px}
	16%{top: 63px}
	17%{top: 65px}
	40%{opacity: 1}
	50%{opacity: 0.0}
}

#idwindows {
	position: relative;
	width: 149px;
	height: 100px;
	bottom: 120px;
}

.towerwindow {
	position: relative;
	width: 22px;
	height: 110px;
	background: #FEE96C;
	border: 4px solid #564F7B;
}

.towerwindow:before, .towerwindow:after{
	content: "";
	position: relative;
	display: block;
}

.towerwindow:before{
	width: 100%;
	height: 22%;
	border-top: 4px solid #564F7B;
	border-bottom: 4px solid #564F7B;
	top: 30%;
}

.towerwindow:after{
	width: 100%;
	height: 25%;
	border-bottom: 4px solid #564F7B;
	top: 25%;
}

#midwindow {
	position: relative;
	height: 110px;
	width: 44px;
	background: #FEE96C;
	left: 49px;
	bottom: 149px;
	border: 4px solid #564F7B;
}

#midwindow:before, #midwindow:after {
	content: "";
	position: relative;
	display: block;
}

#midwindow:before {
	border-right: 4px solid #564F7B;
	right: 46%;
	height: 100%;
}

#midwindow:after {
	width: 100%;
	height: 50px;
	border-top: 4px solid #564F7B;
	border-bottom: 4px solid #564F7B;
	bottom: 77px;
}

#canopy {
	height: 50px;
	width: 300px;
	background: #76689B;
	transform: skewx(45deg);
	position: relative;
	bottom: 130px;
}

#canopy:before, #canopy:after {
	content: "";
	position: relative;
	display: block;
}

#canopy:before{
	height: 50px;
	width: 200px;
	background: #76689B;
	transform: skew(116deg);
	left: -150px;
}

#canopy:after {
	width: 510px;
	height: 8px;
	background: #564D7A;
	border-radius: 10px;
	transform: skew(-45deg);
	bottom: 735px;
	left: -204px;
}

#canopy .column {
	position: relative;
	height: 172px;
	width: 10px;
	background: #A79CBE;
	transform: skew(-45deg);
}

.column:before, .column:after{
	content: "";
	position: relative;
	display: block;
}

.column:before {
	height: 30px;
	width: 20px;
	background: #A79CBE;
	border-top: 5px solid #564D7A;
	bottom: -150px;
	left: -5px;
}

.column:after{
	height: 20px;
	width: 20px;
	background: #A79CBE;
	border-bottom: 5px solid #564D7A;
	left: -5px;
	bottom: 40px;
}

#balcony {
	width: 260px;
	height: 40px;
	position: relative;
	transform: skew(-45deg);
	bottom: 92px;
	left: -10px;
}

#balcony ul{
	display: flex;
	justify-content: space-between;
}

#balcony ul li{
	list-style-type: none;
	background: #544E7C;
	height: 30px;
	width: 10px;
	position: relative;
	bottom: -6px;
	margin-left: 10px;
	margin-right: 10px;
}

#balcony ul li:before, #balcony ul li:after{
	content: "";
	position: relative;
	display: block;
}

#balcony ul li:before {
	background: #A79CBE;
	width: 15px;
	height: 5px;
	border-radius: 0px 0px 4px 4px;
	right: 2.5px;
	bottom: 2px;
}

#balcony ul li:after {
	background: #A79CBE;
	width: 15px;
	height: 5px;
	border-radius: 4px 4px 0px 0px;
	right: 2.5px;
	bottom: -24px;
}

#balcony #floor {
	position: relative;
	width: 401px;
	height: 3px;
	background: #564D7A;
	left: -68px;
	bottom: -10px;	
}

#floor:before, #floor:after{
	content: "";
	position: relative;
	display: block;
}

#floor:before {
	border: 5px solid #564D7A;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	width: 260px;
	height: 5px;
	bottom: 41px;
	left: 63px;
}

#carnice {
	position: relative;
	width: 210px;
	height: 20px;
	bottom: 170px;
	left: -30px;
	background: #767096;
}

#carnice:before, #carnice:after {
	content: "";
	position: relative;
	display: block;
}

#carnice:before{
	width: 180px;
	height: 8px;
	background: #56506C;
	top: 20px;
	left: 15px;
}

#carnice ul {
	display: flex;
	justify-content: space-between;
}

#carnice ul li {
	list-style-type: none;
	height: 35px;
	width: 3px;
	background: #212119;
	position: relative;
	bottom: 43px;
	margin-right: 5px;
	margin-left: 5px;
}

#carnice ul li:before, #carnice ul li:after {
	content: "";
	position: relative;
	display: block;
}

#carnice ul li:before {
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-bottom: 7px solid #212119;
	position: relative;
	bottom: 9px;
	right: 2.5px;
}

#carnice ul li:after {
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top: 7px solid #212119;
	position: relative;
	bottom: 9px;
	right: 2.5px;
}

#highwindow {
	position: relative;
	width: 100px;
	height: 100px;
	bottom: 200px;
	left: 25px;
}

#highwindow .round {
	position: relative;
	width: 20px;
	height: 20px;
	background: #FEE96C;
	border: 4px solid #534D67;
	border-bottom: none;
	border-radius: 20px 20px 10px 10px;
}

#highwindow #biground:before, #highwindow #biground:after {
	content: "";
	position: relative;
	display: block;
}

#highwindow #biground:before {
	width: 25px;
	height: 25px;
	border-radius: 20px;
	background: #FEE96C;
	left: 27px;
	top: 30px;
	z-index: 2;
}

#biground {
	width: 80px;
	height: 80px;
	border-radius: 45px;
	background: #534D67;
	border: 4px solid #7B7398;
	position: relative;
	left: 5px;
}

#hill {
	margin-top: -67px;
	margin-left: -125px;
	width: 1450px;
	height: 200px;
	background: #2D2647;
	border-radius: 41% 41% 0% 0%;
}

#road {
	width: 170px;
	height: 200px;
	margin: 35px auto;
}

#road div {
	height: 200px;
	width: 120px;
	transform: skew(10deg);
	background: #4C4863;
	position: relative;
	left: 37px;
}

#road div:before, #road div:after {
	content: "";
	position: relative;
	display: block;
}

#road div:before {
	height: 200px;
	width: 120px;
	background: #4C4863;
	transform: skew(-20deg);
	right: 25px;
}

#graveyard {
	width: 270px;
	height: 130px;
	position: relative;
	left: 1050px;
	bottom: 320px;
}

.cross {
	width: 17px;
	height: 100px;
	background: #1B0D1A;
	position: relative;
	left: 40px;
	transform: rotate(-5deg);
	border-radius: 2px 2px 0px 0px;
	
}

.cross:before, .cross:after {
	content: "";
	position: relative;
	display: block;
}

.cross:before {
	background: #1B0D1A;
	width: 60px;
	height: 15px;
	top: 22px;
	left: -21px;
	border-radius: 2px;
}

.cross:after {
	background: #1B0D1A;
	width: 30px;
	height: 20px;
	top: 70px;
	left: -7px;
	border-radius: 10px 10px 0px 0px;
	transform: rotate(5deg);
}

.tombstone {
	background: #1B0D1A;
	width: 60px;
	height: 90px;
	position: relative;
	left: 90px;
	bottom: 80px;
	border-radius: 30px 30px 0px 0px;
	transform: rotate(3deg);
}

#cross2{
	background: #1B0D1A;
	width: 15px;
	height: 90px;
	position: relative;
	left: 180px;
	bottom: 175px;
	transform: rotate(5deg);
}

#cross2:before, #cross2:after{
	content: "";
	position: relative;
	display: block;
}

#cross2:before {
	background: #1B0D1A;
	height: 14px;
	width: 60px;
	position: relative;
	left: -22px;
	top: 20px;
}

#cross2:after {
	background: #1B0D1A;
	height: 14px;
	width: 30px;
	position: relative;
	top: 65px;
	left: -7.5px;
	border-radius: 20% 20% 0px 0px;
}

.clouds {
	z-index: 2;
}

#cloud1 {
	position: relative;
	width: 400px;
	height: 50px;
	background: #878296;
	border-radius: 30% / 40px;
	left: -750px;
	bottom: 1050px;
	opacity: 0.5;
	animation: cloud1anim 30s infinite linear;
}

#cloud1:before, #cloud1:after {
	content: "";
	position: relative;
	display: block;
}

#cloud1:before {
	width: 500px;
	height: 70px;
	background: #878296;
	border-radius: 30% / 40px;
	opacity: 0.5;
	left: 400px;
	top: 30px;
}

#cloud1:after {
	width: 400px;
	height: 60px;
	background: #878296;
	border-radius: 30% / 40px;
	opacity: 0.5;
	top: 20px;
	left: 250px;
}

@keyframes cloud1anim {
	from{left: -850px}
	to{left: 1350px}
}

#cloud2 {
	position: relative;
	width: 350px;
	height: 50px;
	background: #878296;
	border-radius: 30% / 40px;
	bottom: 1100px;
	opacity: 0.5;
	left: -1100px;
	animation: cloud2anim 30s 10s infinite linear;
}

#cloud2:before, #cloud2:after {
	content: "";
	position: relative;
	display: block;
}

#cloud2:before {
	width: 400px;
	height: 65px;
	background: #878296;
	border-radius: 30% / 40px;
	opacity: 0.5;
	top: 60px;
	right: 200px;
}

#cloud2:after {
	width: 700px;
	height: 50px;
	background: #878296;
	border-radius: 30% / 40px;
	opacity: 0.6;
	left: 300px;
}

@keyframes cloud2anim {
	from{left: -1100px}
	to{left: 1550px}
}

#moon {
	width: 100px;
	height: 100px;
	background: #FEE96C;
	border-radius: 50px;
	position: relative;
	bottom: 1140px;
	left: 200px;
	z-index: 1;
	box-shadow:0 0 5px #FEE96C;
}

#moon:before, #moon:after{
	content: "";
	position: relative;
	display: block;
}

#moon:before {
	width: 100px;
	height: 100px;
	background: #4C4863;
	border-radius: 50px;
	right: 20px;
	bottom: 10px;	
}